@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #1b1f24;
  color: #fff;
}

main {
  min-height: 100dvh;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 3000s;
  -webkit-text-fill-color: #fff !important;
}

.container {
  max-width: 100%;
  padding: 0 24px;
}

.font-space-grotesk {
  font-family: "Space Grotesk Variable", sans-serif;
}

.not-found-page {
  animation: glow 2s ease-in-out infinite alternate;
}

@keyframes glow {
  from {
    text-shadow: 0 0 1px #fff, 0 0 2px #fff, 0 0 0px #e6cb00, 0 0 2px #e6cb00,
      0 0 4px #e6cb00, 0 0 8px #e6cb00, 0 0 16px #e6cb00;
  }
  to {
    text-shadow: 0 0 4px #fff, 0 0 8px #f0de56, 0 0 2px #f0de56, 0 0 4px #f0de56,
      0 0 8px #f0de56, 0 0 16px #f0de56, 0 0 32px #f0de56;
  }
}

@media (min-width: 768px) {
  .container {
    padding: 0 48px;
  }
}

@media (min-width: 1280px) {
  .container {
    margin: 0 auto;
    max-width: 1024px;
    padding: 0;
  }
}

@media (min-width: 1440px) {
  .container {
    max-width: 1280px;
  }
}
