.main {
  background-image: url("/decorations/about-decoration.svg");
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
}

.BorderBottom {
  border-bottom: 0.2rem solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(
    90deg,
    rgb(242, 172, 132) 0%,
    rgb(63, 89, 228) 52.6%,
    rgb(64, 22, 160) 100%
  );
  padding-bottom: 45px;
}
