.heroText {
  color: #fff;
  font-family: "Space Grotesk Variable", sans-serif;
  font-size: 32px;
  font-weight: bold;
}

.heroText span {
  animation: blink 0.75s step-end infinite;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(
    45deg,
    rgb(242, 172, 132) 0%,
    rgba(63, 89, 228) 52.6%,
    rgb(64, 22, 160) 100%
  );
  border-right: 0.1em solid;
  overflow: hidden;
  white-space: nowrap;
}

@keyframes blink {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #fff;
  }
}

.banner {
  background-image: url("/decorations/gradient-bg.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.borderAbout {
  border-bottom: 0.2rem solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(
    90deg,
    rgb(242, 172, 132) 0%,
    rgb(63, 89, 228) 52.6%,
    rgb(64, 22, 160) 100%
  );
}

.skills {
  position: relative;
  margin-top: 60px;
}
.skills::before {
  background: linear-gradient(
    to left,
    rgb(34, 39, 47) 20%,
    rgba(34, 39, 47, 0) 100%
  );
  content: "";
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  width: 10rem;
  z-index: 2;
}

.skills::after {
  background: linear-gradient(
    to right,
    rgb(34, 39, 47) 20%,
    rgba(34, 39, 47, 0) 100%
  );
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 10rem;
  z-index: 2;
}

.projectCard {
  background-color: #22272f;
  /* border: 0.2rem solid; */
  border-radius: 16px;
  overflow: hidden;
  max-width: 376px;
  padding: 8px;
  transition: box-shadow 0.3s ease-in-out;
}
.projectCard:hover {
  box-shadow: rgba(255, 255, 255, 0.07) 0px 1px 2px,
    rgba(255, 255, 255, 0.07) 0px 2px 4px, rgba(255, 255, 255, 0.07) 0px 4px 8px,
    rgba(255, 255, 255, 0.07) 0px 8px 16px,
    rgba(255, 255, 255, 0.07) 0px 16px 32px,
    rgba(255, 255, 255, 0.07) 0px 32px 64px;
}

@media screen and (min-width: 640px) {
  .heroText {
    font-size: 48px;
  }
}

@media screen and (min-width: 1024px) {
  .heroText {
    font-size: 60px;
  }
}
